/* Importación de fuentes */
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

  
html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 80px;
    margin-bottom: 60px;
    /* display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    margin-bottom: 60px;
    background-color: aliceblue; */
}


/* Contenedor del modal de citas agendadas */
#content {
    margin-bottom: 25px;
}


/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

body{background: #eee url(http://subtlepatterns.com/patterns/sativa.png);}
html,body{
    position: relative;
    height: 100%;
}

/* Contenedor de login */
.login-container{
    position: relative;
    top: -90px;
    width: 300px;
    margin: 80px auto;
    padding: 20px 40px 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
}

/* Título de sign */
.wm_signin_titulo{
    font-family: 'Concert One', cursive;
    font-size: 30px;
    margin: 0 0 10px 0;
}

/* Input de formulario */
.form-box input{
    width: 80%;
    padding: 10px;
    text-align: center;
    height:40px;
    border: 1px solid #ccc;;
    background: rgba(250, 250, 250);
    transition:0.2s ease-in-out;
    font-size: 1em;
}

/* Focus en los inputs */
.form-box input:focus{
    outline: 0;
    background: #eee;
}

/* input text */
.form-box input[type="text"]{
    border-radius: 5px 5px 0 0;
    text-transform: lowercase;
}

/* input password */
.form-box input[type="password"]{
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

/* Ocultar y mostrar password */
#eye-pass{
    position: absolute;
    right: 70px;
    top: 100px;
    transform: translate(0, 100%);
    cursor: pointer;
}

#eye-pass-hidden{
    position: absolute;
    right: 70px;
    top: 100px;
    transform: translate(0, 100%);
    cursor: pointer;
    display: none;
}


/* Botón de login */

.wm_signin_button{
 justify-content: center;
}

.form-box button.login{
    width: 200px;
    margin-top:15px;
    padding: 10px 20px;
    color:#fff;
    background-color: #27EC35;
    border: #27EC35 solid;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.form-box button.login:hover{
    cursor: pointer;
    background-color: #1AC126;
    border: #1AC126 solid;
    color: #000;
}

/* Registrarse */
.wm_signin_registro{
    margin: 10px 0 0 0;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}



/*PÁGINA SIGNUP  */
/* Contenedor principal */
.wm_signup_container{
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    margin: 0 auto;
}

/* título */
.wm_signup_container .wm_signup_titulo{ 
    position: relative;
    text-align: end;
    font-family: 'Concert One', cursive;
    font-size: 1.6em;
    top: -30px;
    padding: 5px 5px 0px 5px;
    border-bottom: 1px solid #000;
}

/* Mensaje de usuario */
.wm_signup_msg{
    width: 320px;
    height: 40px;
    text-align: center;
    align-items: center;
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
    border-radius: 5px;
}

.wm_signup_msg:first-child{
    margin: 0;
    padding: 8px 0 0 0;
}

/* Contenedor general dentro de form */
.wm_signup_container form .wm_signup_form{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    margin: 20px 0 12px 0;
}

/* contenedor de input y label */
form .wm_signup_form .wm_signup_input{
    margin: 0 20px 15px 0;
    width: calc(100% / 2 -20px);
}

/* Label de los input */
.wm_signup_form .wm_signup_input .wm_signup_label{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

/* Inputs */
.wm_signup_form .wm_signup_input input{
    height: 45px;
    width: 200px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    border-bottom-width: 2px;
    transition: all 0.3x ease;
}

/* Focus y validación de input */
.wm_signup_form .wm_signup_input input:focus,
.wm_signup_form .wm_signup_input input:valid{
    border-color: rgb(169, 251, 177);
}

.wm_signup_form .wm_signup_input select{
    height: 5vh;
    width: 20vh;
    border: 1px solid #aaa;
    border-radius: 5px;
}

/* subtítulo de primera cita */
.wm_signup_subtitulo{
    font-family: 'Concert One', cursive;
    font-size: 1.3em;
    border-bottom: 1px solid #000;
    margin-bottom: 15px;
}

.wm_signup_subtitulo p{
    margin: 0;
}

/* Botón del formulario */
form .wm_signup_button{
    height: 45px;
    margin: 45px 0;
}

form .wm_signup_button button{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background-color: rgb(95, 157, 247);
}

form .wm_signup_button button:hover{
    background-color: rgb(44, 124, 243);
    cursor: pointer;
}


/* Responsive */
@media(max-width: 390px){
    .wm_signup_container{
        max-width: 100px;
    }

    form .wm_signup_form .wm_signup_input{
        margin-bottom: 15px;
        width: 100%;
    }

    .wm_signup_container form .wm_signup_form{
        max-height: 300px;
        overflow-y: scroll;
    }

    .wm_signup_form::-webkit-scrollbar{
        width: 0;
    }
}
