{{#if user_msg}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{user_msg}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}
{{#if usererr_msg}}
  <div>
    {{usererr_msg}} <span aria-hidden="true">&times;</span>
  </div>
{{/if}}
